.project-container{
    width: 100%;
    background-image:
    linear-gradient(0deg, rgba(14, 14, 14, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(26, 25, 25, 0.1) 1px, transparent 1px);
    background-size: 50px 50px; 
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-left: 1rem;
    padding-right: 1rem;
}
/* -------------------------------------------------------- */
.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* -------------------------------------------------------- */
.project-card-container{
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    width: 100%;
    margin-bottom: var(--spacing-xxl);
}
/* -------------------------------------------------------- */
.projects-collaborations{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-top: var(--spacing-md);
    color: rgb(0, 0, 0);
}
.projects-recent{
    font-family: 'Roboto', sans-serif;
    font-size: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
    color: var(--secondary-color)
}
.projects-title {
    font-size: var(--spacing-md);
    color:var(--primary-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }
/* -------------------------------------------------------- */
.project-description-container{
    min-height: 200px;
    margin-top: var(--spacing-sm);
}
/* -------------------------------------------------------- */
  .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 420px;
    max-height: 100vh;
    transition: transform 0.9s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .card p {
    margin: 0;
    font-size: 18px;
    color: #666666;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .button {
    background-color:none;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: var(--primary-color);
  }
    .chips-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 24px;
    }
    
    .chip {
      background-color: #e6e6e6;
      color:none;
      font-size: var(--spacing-sm);
      font-weight: bold;
      border-radius: 50px;
      padding: 12px 24px;
      margin-right: 8px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    
    .chip.active {
      background-color: #333;
      color: #fff;
      border: 1px solid var(--secondary-color);
    }
    
    @media screen and (min-width: 768px) {
    
  
    }