@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 3rem);
  background-color: rgb(5, 0, 68);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 8rem;
  margin-bottom: 0.5rem;
  animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
    .landing-title {
        font-size: 4rem;
    }
  }

h2 {
    font-size: clamp(2rem, 2vw, 3rem); /* min: 2rem, preferred: 4vw, max: 5rem */
  margin: 0;
  animation: slideInFromBottom 1s ease-in-out;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;

}

.download-button {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(251, 159, 0);
  border: none;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 230px; 
   margin-right: 2rem;

}

.download-button:hover {
    background-color: rgba(251, 159, 0, 0.695);

    transform: scale(1.05);
}

.download-button:focus {
  outline: none;
}
