@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #191809;
  position: relative;

}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #6DB500;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;

}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  font-family: 'Elsie', cursive;

}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
    color: white;
  margin-bottom: 24px;
  padding-left: 15px;
  font-size: 36px;
  font-family: 'Elsie', cursive;


}
.footer-logo img {
    max-width: 200px;
    padding-left: 15px;

}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
    color: #7e7e7e;
  line-height: 28px;
  padding-left: 15px;

  
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Elsie', cursive;
  margin-bottom: 20px;
  padding-left: 15px;

}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  padding-left: 15px;

}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  padding-left: 15px;

}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #6DB500;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  font-family: 'Elsie', cursive;
  padding-left: 15px;


}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #6DB500;
  padding-left: 15px;

}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  padding-left: 15px;

}
.footer-widget ul li a:hover{
  color: #6DB500;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;

}
.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;

}
.subscribe-form form {
    display: flex;
    flex-direction: row;
    align-content: center;
    overflow: hidden;
    background-color: #55ACEE;
    width: 70%;
  
  }
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #6DB500;
  color: #fff;
}




.subscribe-form button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6DB500;
    border: 1px solid #6DB500;
    width: 25%;

}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #6DB500;
  }
.footer-menu li {
  display: inline-block;
}
.footer-menu li:hover a{
  color: #6DB500;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
margin: 1rem;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footer-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}