.contact-container-form{
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: var(--primary-color); 
    color: azure;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 1rem;
    padding-right: 1rem;
}
.contact-form{
    transition: width 0.3s, background-color 0.3s, padding 0.3s, transform 9s;

}
.contact-form:hover{
    width: 100%;
    background-color: rgb(22, 21, 21);
    padding: 3rem;
    transform: scale(1.05);

     
}

.contact-container-buttons{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;

    width: 100%;
    height: calc(100vh - 3rem);
    background-color: rgb(0, 0, 0);
    color: var(--secondary-color);

    padding-top: var(--spacing-md);
    padding: 1rem;
}

.contact-button{
    height: calc(100% / 3);
    font-size: 3rem
}

.contact-me{
    font-family: 'Roboto', sans-serif;
    font-size: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
}

.button-send-contact{
    width: 150px !important;
}
