.container-form{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.animation-contact{

 height: calc(100vh - 3rem);
 background-color: #ffffff;
}


