.contact-container-form{
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: rgb(167, 235, 29);
    color: azure;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-form{
    transition: width 0.3s, background-color 0.3s, padding 0.3s, transform 9s;

}
.contact-form:hover{
    width: 100%;
    background-color: rgb(22, 21, 21);
    padding: 3rem;
    transform: scale(1.05);

     
}

.contact-container-buttons{
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: rgb(171, 197, 205);
}

.contact-button{
    background-color: rgba(255, 255, 255, 0.586);
    height: calc(100% / 3);
    width: calc(100%);

    font-size: 3rem
}

.contact-me{
    font-family: 'Roboto', sans-serif;
    font-size: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
}

.button-send-contact{
    width: 150px !important;
}
